@import '~/styles';

.btnViewMore {
  &:global {
    &.ant-btn {
      width: 250px;
      height: 70px;
      padding: 23px 0px;

      @include responsive('xl') {
        width: 326px;
      }
    }
  }
}

.loadingWrapper {
  height: 200px;

  @include responsive('lg') {
    height: 400px;
  }
}

.spin {
  &:global {
    &.ant-spin .ant-spin-dot-spin {
      color: $primary-color;
    }
  }
}

.empty {
  &:global {
    &.ant-empty {
      .ant-empty-description {
        color: #fff;
      }
    }
  }
}

.productList {
  max-height: 1600px;
  margin-bottom: 55px;
  overflow-y: auto;
  justify-content: center;

  @include responsive('lg') {
    justify-content: flex-start;
  }
}

.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: yellow #777777;
}
