@import '~/styles';

$normalColor: #ffffffa6;
$activeColor: #ffffff;

.wrapper {
  &:global {
    &.ant-tabs {
      position: relative;

      :global(.ant-tabs-nav) {
        margin-bottom: 0 !important;

        &::before {
          border-bottom: unset !important;
        }

        :global(.ant-tabs-nav-wrap) {
          justify-content: flex-start;
        }

        :global(.ant-tabs-nav-operations .ant-tabs-nav-more) {
          border-radius: 4px;
          background: $tertiary-background-gradient;
        }

        :global(.ant-tabs-nav-list) {
          align-items: stretch;
        }

        :global(.ant-tabs-tab) {
          color: $normalColor;
          border-radius: 4px;
          border: unset;
          flex: 1;
          padding: 10px 16px;
          border-radius: 4px;
          background: $secondary-background-gradient-de-active;
        }

        :global(.ant-tabs-tab-btn) {
          text-align: center;
          color: #fff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */

          &:focus:not(:focus-visible) {
            color: $normalColor;
          }
        }

        :global(.ant-tabs-tab-active .ant-tabs-tab-btn) {
          color: $activeColor;
          font-weight: 700;
        }

        :global(.ant-tabs-tab-active) {
          background: $secondary-background-gradient;
          border-bottom-color: transparent;
        }

        :global(.ant-tabs-ink-bar) {
          display: none;
        }
      }
    }
  }
}
